
  .topnav a {
    float: left;
    color: rgb(171,171,171);
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: Alpino;
    font-weight: bold;
    margin-left: 20px;
    margin-block-start: 20px;
  }
  .home a{
    margin-left: 30px;
  }
  
  .topnav a:hover {
    color: rgb(65,125,148);
    font-weight: bold;
  }
  .background {
    aspect-ratio: 1/1;
  }

  .background img{

    height: 40%;
    width: 100vw;
    background-position: center;
    background-size: contain;
    position: relative; 
}

 .footer a {
   
        color: rgba(77, 72, 72, 0.633);
        text-align: center;
        padding: 14px 16px;
        font-size: 16px;
        font-family: Alpino;
        margin-left: 20px;
  
  }
  .home a{
    margin-left: 30px;
   
  }
  .collab a{
    color: rgb(65,125,148);
        text-align: center;
        margin-left: 12px;
        font-size: 24px;
        font-family: Alpino;
        font-weight: bold;

  }
  footer {
    text-align: center;
    color: rgb(171,171,171);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }